<link rel="stylesheet" href="/css/expoCirceIrasema.css">
<input id="expoName" type="text" value="CirceIrasema" style="display: none;">

<div class="title-group">
  <h1 class="expo-title es">Recetario</h1>
  <h1 class="expo-title en">Livre d’ordonnances</h1>
  <h1 class="expo-title es">Prescription pad</h1>
</div>

<p class="expo-author">Circe Irasema</p>
<p class="expo-city">Ciudad de México</p>
<p class="expo-description">{{expoDescription}}</p>

<h1 class="expo-title es">Inauguración</h1>
<h1 class="expo-title en">Opening</h1>
<p></p>
<div class="videoconference">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3HRRdpnjR-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{>chat}}

<div class="container">
  <div class="image-container">
    <a href="/assets/expoCirceIrasema/receta1.jpg">
      <img src="/assets/expoCirceIrasema/receta1.jpg" alt="">
    </a>
  </div>
  <div class="info-contaner">
    <p>{{piece1}}</p>
    <p>14 x 21.6 cm</p>
    <p>{{pieceDescription}}</p>
    <p>2015</p>
  </div>
</div>

<div class="container">
  <div class="image-container">
    <a href="/assets/expoCirceIrasema/receta2-1.jpg">
      <img src="/assets/expoCirceIrasema/receta2-1.jpg" alt="">
    </a>
  </div>
  <div class="info-contaner">
    <p>{{piece2}}</p>
    <p>14 x 21.6 cm</p>
    <p>{{pieceDescription}}</p>
    <p>2016</p>
  </div>
</div>

<div class="container">
  <div class="image-container">
    <a href="/assets/expoCirceIrasema/receta3.jpg">
      <img src="/assets/expoCirceIrasema/receta3.jpg" alt="">
    </a>
  </div>
  <div class="info-contaner">
    <p>{{piece3}}</p>
    <p>14 x 21.6 cm</p>
    <p>{{pieceDescription}}</p>
    <p>2016</p>
  </div>
</div>

<div class="container">
  <div class="image-container">
    <a href="/assets/expoCirceIrasema/receta4-1.jpg">
      <img src="/assets/expoCirceIrasema/receta4-1.jpg" alt="">
    </a>
  </div>
  <div class="info-contaner">
    <p>{{piece4}}</p>
    <p>14 x 21.6 cm</p>
    <p>{{pieceDescription}}</p>
    <p>2016-2020</p>
  </div>
</div>

<h1 class="expo-title es">Enlaces</h1>
<h1 class="expo-title en">Links</h1>

<div class="links" >
  <div class="link">
    <div class="link-image">
      <a href="http://migala.mx/recursos/pared/circeIrasema/invitacion.png" target="_blank"><img src="http://migala.mx/recursos/pared/circeIrasema/invitacion.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Cartel</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="https://migala.mx/pintura-es-el-acto-de-pintar/" target="_blank"><img src="http://migala.mx/recursos/pared/circeIrasema/link1.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Artículo</p>
      <p>La pintura es el acto de pintar</p>
      <p>David Enríquez</p>
    </div>
  </div>
</div>
<h1 class="expo-title es">Reconocimientos</h1>
<h1 class="expo-title en">Acknowledges</h1>
<p class="expo-description">Translations/traducción // Text review/revisión de textos<br>Gala Anaya Vázquez, Beatriz Marrodán</p>
<p class="expo-description">Social Media / Redes <br> Fernando Victoria</p>
