<link rel="stylesheet" href="/css/expoGabrielCarrillo.css">
<input id="expoName" type="text" value="GabrielCarrillo" style="display: none;">
<script type="text/javascript" src="/assets/expoGabrielCarrillo/main.js">

</script>
<div class="title-group">
  <h1 class="expo-title es">{{expoTitle}}</h1>
  <h1 class="expo-title en">{{expoTitle}}</h1>
</div>

<p class="expo-author">Gabriel Martín Carrillo de Icaza</p>
<p class="expo-city">Ciudad de México</p>
<p class="expo-description">{{expoDescription}}</p>

<h1 class="expo-title es">Inauguración</h1>
<h1 class="expo-title en">Opening</h1>
<div class="videoconference">
  <iframe width="560" height="560" src="https://www.youtube.com/embed/tYV6jhOaFrk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{>chat}}

<h1 class="expo-title es">Numeral</h1>
<h1 class="expo-title en">Numeral</h1>

<div class="landscape-1-container">
  <a href="http://migala.mx/recursos/pared/gabrielCarrillo/NumeralesV.png" target="_blank">
    <img src="http://migala.mx/recursos/pared/gabrielCarrillo/NumeralesV.jpg" alt="">
  </a>
  <a href="http://migala.mx/recursos/pared/gabrielCarrillo/numeralesV.zip" target="_blank">
    <div class="download-container">Sube tu intervención. Haz clic aquí para descargar el PDF.</div>
  </a>
  <div class="info-container">
    <p class="info-container">Título: NUMERALES V</br>
Técnica: Archivo digital para impresión sobre papel bond (tiraje múltiple)</br>
Medidas: 21.5 x 28 cm</br>
Año: 2021
      </p>
  </div>
</div>

<h1 class="expo-title es">Intervenciones</h1>
<h1 class="expo-title en">Intervenciones</h1>

<div class="interventions-container">
  {{# each images}}
    <div class="intervention">
      <a href="{{this.url}}">
        <img src="{{this.thumb}}" alt="">
      </a>
      <p>{{this.author}}</p>
    </div>
  {{/each}}
</div>

<h1 class="expo-title es">Enlaces</h1>
<h1 class="expo-title en">Links</h1>

<div class="links" >
  <div class="link">
    <div class="link-image">
      <a href="http://www.migala.mx/recursos/pared/gabrielCarrillo/invitacion.png" target="_blank">
        <img src="http://www.migala.mx/recursos/pared/gabrielCarrillo/invitacion.png" alt="">
      </a>
    </div>
    <div class="link-info">
      <p>Cartel</p>
    </div>
  </div>
  <!-- <div class="link">
    <div class="link-image">
      <a href="http://migala.mx/recursos/pared/helioSantos/catalogo.pdf" target="_blank"><img src="http://migala.mx/recursos/pared/helioSantos/link2.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Catálogo</p>
    </div>
  </div>
-->
  <div class="link">
    <div class="link-image">
      <a href="https://www.instagram.com/gabrielcarrillodeicaza_estudio/" target="_blank">
        <img src="http://migala.mx/recursos/pared/gabrielCarrillo/link1.png" alt="">
      </a>
    </div>
    <div class="link-info">
      <p>Instagram Gabriel Martín Carillo de Icaza</p>
    </div>
  </div>
</div>
<h1 class="expo-title es">Reconocimientos</h1>
<h1 class="expo-title en">Acknowledges</h1>
<p class="expo-description">Translations/traducción // Text review/revisión de textos<br>Gala Anaya Vázquez, Beatriz Marrodán</p>
<p class="expo-description">Social Media / Redes <br> Fernando Victoria</p>
