<h1 class="title">{{title}}</h1>
<select class="select" name="language" id="language">
    <option value="{{langDefault}}">{{langDefault}} ‣</option>
    <option value="{{langOptionA}}">{{langOptionA}} ‣</option>
    <option value="{{langOptionB}}">{{langOptionB}} ‣</option>
</select>

<div>
    <a href="/?lang={{langDefault}}">Pared</a>
    <a href="/exercise-1?lang={{langDefault}}">{{exercise1}}</a>
    <a href="/expos?lang={{langDefault}}">{{expos}}</a>
    <a href="/submit?lang={{langDefault}}">{{submit}}</a>
    <a href="/about?lang={{langDefault}}">{{about}}</a>
</div>
