<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        {{>analytics}}
        <meta charset="utf-8">
        <title>Pared</title>
        {{>links}}
        {{>scripts}}
    </head>
    <body>
        {{>header}}
        <p class="description">{{description}}</p>
        <p class="error">{{error}}</p>
        <form class="submit" action="/submit" method="post" enctype="multipart/form-data">
            <p>{{required}}</p>
            <input type="text" name="artist_name" placeholder="{{artist_name}}" required>
            <input type="text" name="project_name" placeholder="{{project_name}}" required>
            <input type="email" name="contact_email" placeholder="{{contact_email}}" required>
            <input type="text" name="artist_age" placeholder="{{artist_age}}" required>
            <input type="text" name="artist_city" placeholder="{{artist_city}}" required>
            <textarea name="project_description" placeholder="{{project_description}}" rows="2" cols="40" required></textarea>
            <p>{{folder_description}}</p>
            <input type="text" name="images_folder_url" placeholder="{{images_folder_url}}" required>
            <input type="submit" value="{{send}}">
        </form>
        {{>footer}}
    </body>
</html>
